<div class="breadcrumbs">
    {% if page.url == "/" -%}
        <span class="current">Home</span>
        {%- if page.draft %}
            <span class="separator">&vert;</span>
            <span class="draft"><i class="fas fa-fw fa-person-digging" aria-hidden="true"></i></span>
        {%- endif -%}
    {%- else -%}
        {%- assign crumb_path = "/" -%}
        {%- assign crumbs = page.url | split: '/' -%}
        {%- for crumb in crumbs offset: 1 -%}
            {%- if forloop.first -%}
                <a href="{{ '/' | relative_url }}">Home</a>
                <span class="separator">&gt;</span>
            {% endif -%}
            {%- if forloop.last -%}
                <span class="current">
                {%- if page.api -%}
                <code>{{ page.title }}</code>
                {%- else -%}
                {{ page.title }}
                {%- endif -%}
                </span>
                {%- if page.draft %}
                    <span class="separator">&vert;</span>
                    <span class="draft"><i class="fas fa-fw fa-person-digging" aria-hidden="true"></i></span>
                {%- endif -%}
            {%- else -%}
                <a href="{{ crumb | prepend: crumb_path | relative_url }}">
                    {%- if page.api -%}
                    <code>{{ crumb }}</code>
                    {%- else -%}
                    {{ crumb | replace: '-', ' ' | replace: '%20', ' ' | capitalize }}
                    {%- endif -%}
                </a>
                <span class="separator">&gt;</span>
                {% assign crumb_path = crumb_path | append: crumb | append: "/" -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif %}
</div>