<div class="breadcrumbs">
    {% if page.url == "/" -%}
        <span class="current">Home</span>
        {%- if page.draft %}
            <span class="separator">&vert;</span>
            <span class="draft"><i class="fas fa-fw fa-person-digging" aria-hidden="true"></i></span>
        {%- endif -%}
    {%- else -%}
        {%- assign crumb_path = "/" -%}
        {%- assign crumbs = page.url | split: '/' -%}
        {%- for crumb in crumbs offset: 1 -%}
            {%- if forloop.first -%}
                <a href="{{ '/' | relative_url }}">Home</a>
                <span class="separator">&gt;</span>
            {% endif -%}
            {%- if forloop.last -%}
                <span class="current">
                {%- if page.api -%}
                <code>{{ page.title }}</code>
                {%- else -%}
                {{ page.title }}
                {%- endif -%}
                </span>
                {%- if page.draft %}
                    <span class="separator">&vert;</span>
                    <span class="draft"><i class="fas fa-fw fa-person-digging" aria-hidden="true"></i></span>
                {%- endif -%}
            {%- else -%}
                {%- assign crumb_path_next = crumb_path | append: crumb -%}
                <a href="{{ crumb_path_next | relative_url }}">
                {%- assign crumb_api = page.api | default: false -%}
                {%- if site.data.breadcrumbs.breadcrumbs[crumb_path_next] != nil -%}
                    {%- if site.data.breadcrumbs.breadcrumbs[crumb_path_next].api != nil -%}
                    {%- assign crumb_api = site.data.breadcrumbs.breadcrumbs[crumb_path_next].api -%}
                    {%- endif -%}
                {%- endif -%}
                {%- assign crumb_title = crumb | replace: '-', ' ' | replace: '%20', ' ' | capitalize -%}
                {%- assign crumb_title_api = crumb -%}
                {%- if site.data.breadcrumbs.breadcrumbs[crumb_path_next] != nil -%}
                    {%- if site.data.breadcrumbs.breadcrumbs[crumb_path_next].title != nil -%}
                    {%- assign crumb_title = site.data.breadcrumbs.breadcrumbs[crumb_path_next].title -%}
                    {%- assign crumb_title_api = site.data.breadcrumbs.breadcrumbs[crumb_path_next].title -%}
                    {%- endif -%}
                {%- endif -%}
                {%- if crumb_api -%}
                <code>{{ crumb_title_api }}</code>
                {%- else -%}
                {{ crumb_title }}
                {%- endif -%}
                </a>
                <span class="separator">&gt;</span>
                {% assign crumb_path = crumb_path_next | append: "/" -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endif %}
</div>