<div class="breadcrumbs">
    {% if page.url == "/" -%}
        {%- assign crumb_title = "Home" -%}
        {%- assign crumb_title_monospace = false -%}
        {%- if site.data.page-titles["/"] -%}
            {%- assign crumb_title = site.data.page-titles["/"] -%}
        {%- endif -%}
        {%- if site.data.page-titles-monospace["/"] != nil -%}
            {%- assign crumb_title_monospace = site.data.page-titles-monospace["/"] -%}
        {%- endif -%}
        <span class="breadcrumbs-current">
            {%- if crumb_title_monospace -%}
            <code>{{ crumb_title }}</code>
            {%- else -%}
            {{ crumb_title }}
            {%- endif -%}
        </span>
        {%- if page.draft %}
            <span class="breadcrumbs-draft"><i class="fas fa-fw fa-person-digging" aria-hidden="true"></i></span>
        {%- endif -%}
    {%- else -%}
        {%- assign crumb_path = "/" -%}
        {%- assign crumbs = page.url | split: '/' -%}
        {%- for crumb in crumbs offset: 1 -%}
            {%- if forloop.first -%}
                {%- assign crumb_title = "Home" -%}
                {%- assign crumb_title_monospace = false -%}
                {%- if site.data.page-titles["/"] -%}
                    {%- assign crumb_title = site.data.page-titles["/"] -%}
                {%- endif -%}
                {%- if site.data.page-titles-monospace["/"] != nil -%}
                    {%- assign crumb_title_monospace = site.data.page-titles-monospace["/"] -%}
                {%- endif -%}
                <a href="{{ '/' | relative_url }}">
                    {%- if crumb_title_monospace -%}
                    <code>{{ crumb_title }}</code>
                    {%- else -%}
                    {{ crumb_title }}
                    {%- endif -%}
                </a>
            {% endif -%}
            {%- assign crumb_path_next = crumb_path | append: crumb | append: "/" -%}
            {%- assign crumb_title = crumb -%}
            {%- assign crumb_title_monospace = false -%}
            {%- if site.data.page-titles[crumb_path_next] -%}
                {%- assign crumb_title = site.data.page-titles[crumb_path_next] -%}
            {%- endif -%}
            {%- if site.data.page-titles-monospace[crumb_path_next] != nil -%}
                {%- assign crumb_title_monospace = site.data.page-titles-monospace[crumb_path_next] -%}
            {%- endif -%}
            {%- if forloop.last -%}
                <span class="breadcrumbs-current">
                    {%- if crumb_title_monospace -%}
                    <code>{{ crumb_title }}</code>
                    {%- else -%}
                    {{ crumb_title }}
                    {%- endif -%}
                </span>
                {%- if page.draft %}
                    <span class="breadcrumbs-draft"><i class="fas fa-fw fa-person-digging" aria-hidden="true"></i></span>
                {%- endif -%}
            {%- else -%}
                <a href="{{ crumb_path_next | relative_url }}">
                    {%- if crumb_title_monospace -%}
                    <code>{{ crumb_title }}</code>
                    {%- else -%}
                    {{ crumb_title }}
                    {%- endif -%}
                </a>
            {% endif -%}
            {%- assign crumb_path = crumb_path_next -%}
        {%- endfor -%}
    {%- endif %}
</div>