<div class="grid1">
    <div class="grid1-cell1" onclick="menuOpen()">
        {% include header.html %}
    </div>
    <div class="grid1-cell2">
        {% include breadcrumbs.html %}
    </div>
    <div class="grid1-cell3">
        {% include_cached shadow1.html %}
    </div>
    <div class="grid1-cell4">
        {% include grid2.html %}
    </div>
    <div class="grid1-cell5">
        {% include_cached shadow2.html %}
    </div>
    <div class="grid1-cell6">
        {% include_cached footer.html %}
    </div>
</div>