<div class="grid1">
    <div class="grid1_cell1" onclick="menuOpen()">
        {% include header.html %}
    </div>
    <div class="grid1_cell2">
        {% include breadcrumbs.html %}
    </div>
    <div class="grid1_cell3">
        {% include shadow1.html %}
    </div>
    <div class="grid1_cell4">
        {% include grid2.html %}
    </div>
    <div class="grid1_cell5">
        {% include shadow2.html %}
    </div>
    <div class="grid1_cell6">
        {% include footer.html %}
    </div>
</div>