<div class="grid">
    <div class="grid-cell-1" onclick="menuOpen()"></div>
    <div class="grid-cell-2" onclick="menuOpen()">
        {% include header.html %}
    </div>
    <div class="grid-cell-3" onclick="menuOpen()"></div>
    <div class="grid-cell-4"></div>
    <div class="grid-cell-5">
        {% include breadcrumbs.html %}
    </div>
    <div class="grid-cell-6"></div>
    <div class="grid-cell-7"></div>
    <div class="grid-cell-8"></div>
    <div class="grid-cell-9"></div>
    <div class="grid-cell-10"></div>
    <div class="grid-cell-11">
        {% include toc.html sanitize = false html = content h_min = 1 h_max = 2 class = "toc" skip_no_ids = true item_class = "heading%level%" submenu_class = "heading%level%_children" %}
    </div>
    <div class="grid-cell-12"></div>
    <div class="grid-cell-13">
        {% include content.html %}
    </div>
    <div class="grid-cell-14"></div>
    <div class="grid-cell-15"></div>
    <div class="grid-cell-16"></div>
    <div class="grid-cell-17"></div>
    <div class="grid-cell-18">
        {% include footer.html %}
    </div>
    <div class="grid-cell-19"></div>
</div>