{%- assign crumbs = page.url | split: "/" -%}

{%- assign title = crumbs | last -%}

{%- if site.data.page-titles[page.url] -%}
    {%- assign title = site.data.page-titles[page.url] -%}
{%- endif -%}

{%- assign title_monospace = false -%}

{%- if site.data.page-titles-monospace[page.url] != nil -%}
    {%- assign title_monospace = site.data.page-titles-monospace[page.url] -%}
{%- endif -%}

{%- assign subtitle = "" -%}

{%- if site.data.page-subtitles[page.url] -%}
    {%- assign subtitle = site.data.page-subtitles[page.url] -%}
{%- endif -%}

<div class="header-background">
    <div class="header">
        <div class="header-title">
            {%- if title_monospace -%}
            <code>{{ title }}</code>
            {%- else -%}
            {{ title }}
            {%- endif -%}
        </div>
        <div class="header-subtitle">{{ subtitle }}</div>
    </div>
</div>