<div class="sidebar">
    <div class="sidebar-top"></div>
    <div class="sidebar-flex">
        {%- if page.toc -%}
        <div class="sidebar-toc">
            {% include toc.html %}
        </div>
        {%- endif -%}
        {%- if page.seealso -%}
        <div class="sidebar-seealso">
            {% include seealso.html %}
        </div>
        {%- endif -%}
        {%- if page.wiki -%}
        <div class="sidebar-wiki">
            {% include wiki.html %}
        </div>
        {%- endif -%}
        <div class="sidebar-footer"></div>
    </div>
    <div class="sidebar-bottom"></div>
</div>