{%- assign items1 = content | strip | split: '<h1' -%}

<div class="toc-items1">
{%- for item1 in items1 offset: 1 -%}

    {%- assign id1 = item1 -%}

    {%- assign id1 = id1    | split: 'id="' -%}
    {%- assign id1 = id1[1] | split: '"' -%}
    {%- assign id1 = id1[0] | split: '"' -%}

    {%- assign name1 = item1 -%}

    {%- assign name1 = name1 | split: '>' -%}
    {%- assign name1 = name1[1] | split: '</' -%}
    {%- assign name1 = name1[0] -%}

    <span>{{ id1 }} = {{ name1 }}</span>

{%- endfor -%}
</div>
