* {
  box-sizing: border-box;
}

a {
  color: #2f7d95;
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

code {
  font-family: "Consolas", monospace;
}

html {
  background-color: #fff;
  color: #454545;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
}

.breadcrumbs {
  font-size: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 0.5rem 1rem;
}

.content-bottom {
  height: 2rem;
}

.content-flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content-flex > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content-main div.highlight {
  display: grid;
}

.content-main div.highlighter-rouge {
  background: #263238;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #ccc;
  margin-bottom: 1rem;
}

.content-main h1 {
  font-size: 1.5rem;
  margin-top: 3rem;
}

.content-main h2 {
  font-size: 1.25rem;
  margin-top: 2.5rem;
}

.content-main h2 + h2 {
  margin-top: 0;
}

.content-main h3 {
  font-size: 1.125rem;
  margin-top: 2.25rem;
}

.content-main h4 {
  font-size: 1.0625rem;
  margin-top: 2.125rem;
}

.content-main h5 {
  font-size: 1.03125rem;
  margin-top: 2.0625rem;
}

.content-main h6 {
  font-size: 1rem;
  margin-top: 2rem;
}

.content-main li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.content-main pre.highlight {
  line-height: 1.8rem;
  margin: 0;
  overflow-x: auto;
  padding: 1rem;
}

.content-main pre.highlight .c1 {
  color: lightslategray;
}

.content-main pre.highlight .cm {
  color: lightslategray;
}

.content-main pre.highlight .cp {
  color: white;
}

.content-main pre.highlight .cp-k {
  color: #4cbfe6;
}

.content-main pre.highlight .k {
  color: #4cbfe6;
}

.content-main pre.highlight .kt {
  color: #4cbfe6;
}

.content-main pre.highlight .kt-t {
  color: #9fcfdf;
}

.content-main pre.highlight .mh {
  color: greenyellow;
}

.content-main pre.highlight .mi {
  color: greenyellow;
}

.content-main pre.highlight .n {
  color: white;
}

.content-main pre.highlight .n-k {
  color: #4cbfe6;
}

.content-main pre.highlight .n-t {
  color: #9fcfdf;
}

.content-main pre.highlight .nb {
  color: #4cbfe6;
}

.content-main pre.highlight .nf {
  color: white;
}

.content-main pre.highlight .nf-k {
  color: #4cbfe6;
}

.content-main pre.highlight .o {
  color: white;
}

.content-main pre.highlight .p {
  color: white;
}

.content-main pre.highlight .sc {
  color: greenyellow;
}

.content-main table {
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #ccc;
  margin-bottom: 1rem;
  width: 100%;
}

.content-main td {
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}

.content-main th {
  background-color: #ccc;
  color: white;
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
}

.content-main tr:first-child td {
  border-top: 0;
}

.content-main tr:last-child td {
  border-bottom: 0;
}

.content-main *:first-child {
  margin-top: 0;
}

.content-main :not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(pre) > code {
  color: deeppink;
}

.content-top {
  height: 2rem;
}

.external-heading {
  font-size: 1.5rem;
  margin-top: 0;
}

.external-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer {
  color: #888;
  font-size: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 1.5rem 1rem;
}

.footer a {
  color: #888;
}

.footer-background {
  background-color: #eee;
}

.grid1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content auto min-content min-content;
  max-width: 100%;
  min-height: 100%;
}

.grid1-cell1 {
  grid-column: 1;
  grid-row: 1;
}

.grid1-cell2 {
  grid-column: 1;
  grid-row: 2;
}

.grid1-cell3 {
  grid-column: 1;
  grid-row: 3;
}

.grid1-cell4 {
  grid-column: 1;
  grid-row: 4;
}

.grid1-cell5 {
  grid-column: 1;
  grid-row: 5;
}

.grid1-cell6 {
  grid-column: 1;
  grid-row: 6;
}

.grid2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.grid2-cell1 {
  grid-column: 1;
  grid-row: 1;
}

.grid2-cell1-wide {
  grid-column: 1;
  grid-row: 1;
}

.grid2-cell2 {
  display: none;
}

.group {
  display: flex;
  flex-direction: column;
}

.group-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group-subtitle {
  color: #888;
  margin-bottom: 0.5rem;
}

.group-title,
.group-title-active {
  font-size: 1.5rem;
  margin-top: 0;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 1rem;
}

.header .subtitle {
  color: #a9bdc6;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  min-height: 1.5rem;
}

.header .title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.header-background {
  background-color: #263238;
}

.menu {
  align-content: center;
  align-items: baseline;
  background-color: #263238;
  background-color: rgba(38, 50, 56, 0.95);
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: 100%;
  justify-items: center;
  justify-content: center;
  left: 0;
  overflow-x: hidden;
  padding: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.menu a {
  background-color: black;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.seealso-heading {
  font-size: 1.5rem;
  margin-top: 0;
}

.seealso-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shadow1 {
  background-image: linear-gradient(180deg, #ccc, #fff);
  border-top: 1px solid #aaa;
  height: 6px;
}

.shadow2 {
  background-image: linear-gradient(180deg, #ccc, #eee);
  border-top: 1px solid #aaa;
  height: 6px;
}

.sidebar {
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.sidebar-bottom {
  height: 2rem;
}

.sidebar-flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sidebar-flex > div:not(.sidebar-groups) {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-footer {
  height: 0;
}

.sidebar-toc {
  border-left: 1px solid #ccc;
}

.sidebar-top {
  height: 2rem;
}

.toc-heading {
  font-size: 1.5rem;
  margin-top: 0;
}

.toc-item1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toc-item1-button-close {
  display: none;
  grid-column: 2;
  grid-row: 1;
  padding-left: 1rem;
  text-align: center;
}

.toc-item1-button-open {
  display: block;
  grid-column: 2;
  grid-row: 1;
  padding-left: 1rem;
  text-align: center;
}

.toc-item1-header {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto;
}

.toc-item1-header a {
  grid-column: 1;
  grid-row: 1;
}

.toc-items1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toc-items2 {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}

@media screen and (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }

  .grid2 {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  .grid2-cell1 .content-groups,
  .grid2-cell1 .content-toc {
    display: none;
  }

  .grid2-cell1-wide {
    grid-column: 1 / span 2;
  }

  .grid2-cell2 {
    display: block;
    grid-column: 2;
    grid-row: 1;
  }

  .grid2-cell2 .group {
    border-left: 1px solid #ccc;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidebar {
    max-width: 33vw;
  }
}

@media screen and (min-width: 1290px) {
  html {
    font-size: 22px;
  }

  .breadcrumbs,
  .footer,
  .grid2,
  .header {
    max-width: 1290px;
  }

  .sidebar {
    min-width: 258px;
    max-width: 430px;
  }
}

@media screen and (min-width: 1620px) {
  html {
    font-size: 24px;
  }

  .breadcrumbs,
  .footer,
  .grid2,
  .header {
    max-width: 1620px;
  }

  .sidebar {
    min-width: 324px;
    max-width: 540px;
  }
}

@media screen and (min-width: 1950px) {
  html {
    font-size: 26px;
  }

  .breadcrumbs,
  .footer,
  .grid2,
  .header {
    max-width: 1950px;
  }

  .sidebar {
    min-width: 390px;
    max-width: 650px;
  }
}

@media screen and (min-width: 2280px) {
  html {
    font-size: 28px;
  }

  .breadcrumbs,
  .footer,
  .grid2,
  .header {
    max-width: 2280px;
  }

  .sidebar {
    min-width: 456px;
    max-width: 760px;
  }
}