$breakpoint-small: 576px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 992px !default;
$breakpoint-largest: 1200px !default;

$color-background: white !default;
$color-breadcrumbs-background: #f3f3f3 !default;
$color-breadcrumbs-text: #888888 !default;
$color-code-background: #263238 !default;
$color-footer-background: #f3f3f3 !default;
$color-footer-text: #888888 !default;
$color-header-background: #eeeeee !default;
$color-header-link: #6a8a94 !default;
$color-header-link-active: #6a8a94 !default;
$color-header-link-hover: #6a8a94 !default;
$color-header-link-visited: #6a8a94 !default;
$color-link: #2f7d95 !default;
$color-link-active: #2f7d95 !default;
$color-link-hover: #2f7d95 !default;
$color-link-visited: #2f7d95 !default;
$color-text: #454545 !default;
$color-toc: #888888 !default;
$color-toc-active: #888888 !default;
$color-toc-hover: #888888 !default;
$color-toc-visited: #888888 !default;

$font-family-monospace: monospace !default;
$font-family-sans-serif: sans-serif !default;
$font-family-serif: serif !default;